VET_SMTP_HOST=smtp.gmail.com
VET_SMTP_PORT=587
VET_SMTP_USER=itqveterinaria@gmail.com
VET_SMTP_PASSWORD=COLOCAR_CONTRASENA_DE_APLICACION
VET_SMTP_FROM=itqveterinaria@gmail.com
VET_SMTP_FROM_NAME=Veterinaria ITQ
VET_SMTP_STARTTLS=true
VET_SMTP_AUTH=true
VET_FRONTEND_URL=http://localhost:5174